.nav-item{
    padding-left: 15px;
    padding-right: 25px;
    padding-top: 0 !important;
    margin-top: 0 !important;
    font-weight: 1000;
    font-size: 1rem;
    
}
.navbar{
    background-color: rgba(255, 255, 255, 0.4);
    
}

@media screen and (max-width:800px){
    .navbar{
        background-color: rgb(131, 131, 131);
        
    } 
}