<div class="container">
    <h2> ADMIN DASHBOARD</h2>
    <div class="row rw1">
        <div class="col-3">
            <app-admin-users></app-admin-users>
        </div>
        <div class="col-3">
            <app-admin-orders></app-admin-orders>
        </div>
        <div class="col-3">
            <app-categories></app-categories>
        </div>
        <div class="col-3">
            <app-items></app-items>
        </div>
    </div>
    <div class="row rw2">
        <div class="col-8">
            <img class="img" alt="logo"  src="assets/Images/cstm.gif">
        </div>
        
        <div class="col-4">
            <app-chat></app-chat>
        </div>
    </div>
</div>