<div class="container">
    <div class="row">
        <h4>DRESSING TABLE</h4>
    </div>
    <div class="row">
        <div class="col-3 cl1">
            <img class="img" alt="logo"  src="assets/Images/dt1.jpg">
        </div>
        <div class="col-3 cl1">
            <img class="img" alt="logo"  src="assets/Images/dt2.jpg">
        </div>
        <div class="col-3 cl1">
            <img class="img" alt="logo"  src="assets/Images/dt3.jpg">
        </div>
        <div class="col-3 cl1">
            <img class="img" alt="logo"  src="assets/Images/dt4.jpg">
        </div>
    </div>
</div>
