<div class="container">
    <div class="row">
        <h4>DINNING TABLE</h4>
    </div>
    <div class="row">
        <div class="col-3 cl1">
            <img class="img" alt="logo"  src="assets/Images/dining1.jpg">
        </div>
        <div class="col-3 cl1">
            <img class="img" alt="logo"  src="assets/Images/dining2.jpg">
        </div>
        <div class="col-3 cl1">
            <img class="img" alt="logo"  src="assets/Images/dining3.jpg">
        </div>
        <div class="col-3 cl1">
            <img class="img" alt="logo"  src="assets/Images/dining4.jpg">
        </div>
    </div>
</div>
