<app-navbar></app-navbar>
<section class="vh-115 sec1" style="background-color: #9A616D;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100 crd1">
      <div class="col col-xl-12">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-5 col-lg-5">
              <img class="loginimg" alt="logo"  src="assets/Images/shp1.webp"> 
            </div>
            <div class="col-md-3 col-lg-3 cl1">
                 <h6>SIGN IN</h6>
            <form  autocomplete="off" [formGroup]="loginForm" (ngSubmit)="submitFormLogin()">
            <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" class="form-control" id="emaillog" formControlName="email">
            </div>

            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" id="pwdlog" formControlName="password">
            </div>
            
            <button type="submit" class="btn btn-secondary btn1">SIGN IN</button>
                <div class="row rw1">
                  <a class="small text-muted" href="#!">Forgot password?</a>
                  <a class="small text-muted" href="#!">Don't you have an account please register before</a>
                <div class="rw2">
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                </div>
            </div>
            </form>
          </div>
          <div class="col-md-3 col-lg-4">
          <h6>SIGN UP</h6>
          <form  autocomplete="off" [formGroup]="registerForm" (ngSubmit)="submitForm()">
            <div class="form-group field1">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" formControlName="email">
            </div>

            <div class="form-group field1">
              <label for="pwd">Password</label>
              <input type="password" class="form-control" id="pwd" formControlName="password">
            </div>

            <div class="form-group field1">
              <label for="pnum">Phone Number</label>
              <input type="text" class="form-control" id="pnum" formControlName="phone">
            </div>

            <div class="form-group field1">
              <label for="address">Adress</label>
              <input type="text" class="form-control" id="address" formControlName="city">
            </div>
            
            <button type="button" class="btn btn-secondary btn1" type="submit" >SIGN UP</button>
          </form>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>