<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12"></div>
        <div class="col-md-4 col-sm-12">
            <h4>WHY CHOOSE US</h4>
        </div>
        <div class="col-md-4 col-sm-12"></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 cl1">
            <div class="row1">
                <i class="fa fa-unlink" style="font-size:36px;"></i>
                
            </div>
            <div class="row2">
                <p>We have a vast range of creative services and products!</p>
            </div>
            
            <div class="row1">
                <i class="fa fa-podcast" style="font-size:36px"></i>
                
            </div>
           <div class="row2">
            <p>Furniture Plus is always ready for a challenge!</p>
           </div>
        </div>
        <div class="col-md-4 col-sm-12 cl2">
            <div class="row1">
                <i class="fa fa-braille" style="font-size:36px"></i>
                
            </div>
            <div class="row2">
                <p> We use modern techniques of obtaining and treating materials!</p>
            </div>
            <div class="row1">
                <i class="fa fa-puzzle-piece" style="font-size:36px"></i>
                
            </div>
            <div class="row2">
                <p>We can interpret a client’s ideas into a wonderfully creative design!</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 cl3">
            <div class="row1">
                <i class="fa fa-cubes" style="font-size:46px"></i>
                
            </div>
            <div class="row2">
                <p>Our quality is second to none!</p>
            </div>
            <div class="row1">
                <i class="fa fa-object-ungroup" style="font-size:36px" ></i>
                
            </div>
            <div class="row2">
                <p>Our friendly and professional staff will ensure the best cooperation!</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>