<div class="container">
    <div class="row">
        
        <div class="col-12">
        <h4>
            SHOP WITH US
        </h4>
    </div>
    
    </div>

    <div class="row rw1">
        <div class="col-md-4 col-sm-12">
            <div class="row">
                <img class="img" alt="logo"  src="assets/Images/wardrobe.jpg">
                <button type="button" class="btn btn-secondary btnitems" [routerLink]="['/shopwith1']">WARDROBE</button>
            </div>
            <div class="row">
                <img class="img" alt="logo"  src="assets/Images/sofa1.jpg">
                <button type="button" class="btn btn-secondary btnitems" [routerLink]="['/shopwith2']">SOFA</button>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <img class="img1" alt="logo"  src="assets/Images/dressing1.webp">
            <button type="button" class="btn btn-secondary btnitems1" [routerLink]="['/shopwith']">DRESSING TABLE</button>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="row">
                <img class="img" alt="logo"  src="assets/Images/dining.png">
                <button type="button" class="btn btn-secondary btnitems" [routerLink]="['/shopwith3']">DINING TABLE</button>
            </div>
            <div class="row">
                <img class="img" alt="logo"  src="assets/Images/beds.jpg">
                <button type="button" class="btn btn-secondary btnitems" [routerLink]="['/admin-orderinside']">BED</button>
            </div>  
        </div>
    </div>
</div>
