<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
        <h4>
            SHOP WITH US
        </h4>
    </div>
    <div class="col-4"></div>
    </div>

    <div class="row rw1">
        <div class="col-4">
            <div class="row">
                <img class="img" alt="logo"  src="assets/Images/wardrobe.jpg">
            </div>
            <div class="row">
                <img class="img" alt="logo"  src="assets/Images/sofa1.jpg">
            </div>
        </div>
        <div class="col-4">
            <img class="img1" alt="logo"  src="assets/Images/dressing1.webp">
        </div>
        <div class="col-4">
            <div class="row">
                <img class="img" alt="logo"  src="assets/Images/dining.png">
            </div>
            <div class="row">
                <img class="img" alt="logo"  src="assets/Images/beds.jpg">
            </div>  
        </div>
    </div>
</div>
