.sec1{
    margin-top: 7vh;
    padding-top: 1vh;
}
h3{
    padding-top: 30vh;
}
p{
    font-size: 0.9rem;
}
.btn{
    margin-top: 5vh;
    margin-left: 8%;
    font-weight: 700;
    font-size: 40px;
}