<app-navbar></app-navbar>
<div class="container">
    <div class="row rw1">
        <div class="col-6 cl1">
            <img class="img1" alt="logo"  src="assets/Images/sf5.jpg">
        </div>
        <div class="col-6">
            <h3>Single seater sofa</h3>
            <p>Brand Furicco
                Product origin Foshan city Guangdong province China
                Delivery time 20-30 days
                Supply capacity 5000 pcs per month
                The modern sofas for living room fascinates onlookers with its fine and light design. 
                The cushions compel you to stay seated. Thanks to its compact structure and the headrest 
                neatly stowed away in the backrest, the home center corner sofa fits perfectly in any room.
                 It also meets all the individual wishes with four sizes, reclining and extension elements.
                 Frame made of solid and plywood, padded with non-deformable expanded polyurethane of 
                 differentiated density.
            </p>
            <h4>Rs. 100000</h4>
        </div>
    </div>
</div>
<app-productdetails1></app-productdetails1>
<app-footer></app-footer>