.rw1{
    margin-top: 19vh;
}
.img1{
    width: 100%;
    
}
h3{
    font-size: 2.5rem;
    padding-top: 8vh;
    color: #030E39;
}
p{
    padding-top: 1vh;
    font-size: 1.1rem;
}
.cl1{
    align-items: center;
}
h4{
    padding-top: 20vh;
}