.img{
    padding-top: 10vh;
}
h5{
    color: #030E39;
}
.hd{
    padding-top: 20vh;
    font-weight: 600;
}

@media screen and (max-width:800px){
    .hd{
        font-size: 1rem;
    }
    .img{
        width: 80%;
    }
    .cl2{
        width: 100%;
    }
}