<div class="container">
    <div class="row">
        <h4>WARDROBE</h4>
    </div>
    <div class="row">
        <div class="col-3 cl1">
            <img class="img" alt="logo"  src="assets/Images/wardrob1.webp">
        </div>
        <div class="col-3 cl1">
            <img class="img" alt="logo"  src="assets/Images/wardrob2.webp">
        </div>
        <div class="col-3 cl1">
            <img class="img" alt="logo"  src="assets/Images/wardrob3.webp">
        </div>
        <div class="col-3 cl1">
            <img class="img" alt="logo"  src="assets/Images/wardrob4.webp">
        </div>
    </div>
</div>

