<div class="container-fluid mapct">
    <div class="row rwmap">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 clmap">
            <div class="mapouter"><div class="gmap_canvas"><iframe width="1320" height="285" id="gmap_canvas" src="https://maps.google.com/maps?q=sri%20lanka&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:285px;width:1320px;}</style><a href="https://www.embedgooglemap.net">google map embed responsive</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:285px;width:1320px;}</style></div></div>
          </div>
    </div>
</div>