/* You can add global styles to this file, and also import other style files */
:root{
    --primary-color:#030E39;
    --secondary-color: white;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
